<button mat-raised-button class="filters-btn" [class.filters-opened]="sidenavOpened" color="accent" (click)="sidenavOpened = !sidenavOpened">
  {{sidenavOpened ? 'Close' : 'Open'}} filters
</button>

<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="0" [opened]="sidenavOpened"
    [fixedBottomGap]="0">

    <app-filters [filtersList]="genres" (ratingFilter)="ratingFilter($event)" (filtersEvent)="recieveGenreFilters($event)"></app-filters>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-movies [moviesList]="moviesListFiltered" [genresList]="genres"></app-movies>

    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = getMovies($event)">

    </mat-paginator>
  </mat-sidenav-content>

</mat-sidenav-container>
