<!-- <mat-grid-list cols="5" rowHeight="230px" gutterSize="20">
  <mat-grid-tile *ngFor="let movie of movies" [class.mat-elevation-z8]="movie.hover" (mouseover)="movie.hover=true"
    (mouseout)="movie.hover = false;" [colspan]="1" [rowspan]="2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let genre of movie.genres">
            {{genre.name}}
          </span>
        </mat-card-subtitle>
      </mat-card-header> <img mat-card-image [src]="moviedbImageUrl + movie.poster_path" alt="Photo of a Shiba Inu" />

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
 -->

<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="movie-container">
    <div *ngFor="let movie of movies" fxFlex.xs="100%" fxFlex.gt-xs="45%" fxFlex.gt-sm="20%" fxFlex.gt-lg="15%"
      fxFlex.gt-lg="15%" fxLayoutAlign="space-evenly none" style="margin-right:10px; margin-bottom:10px;">
      <mat-card [class.mat-elevation-z8]="movie.hover" (mouseover)="movie.hover=true" (mouseout)="movie.hover = false;"
        (click)="openDialog(movie)">
        <img mat-card-image [src]="moviedbImageUrl + movie.poster_path" alt="Photo of a Shiba Inu" />
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>
            <span *ngFor="let genreId of movie.genre_ids">
              {{genreId | getGenreName: genres}}
            </span>
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
  </div>
</div>
